@charset "UTF-8";

*{
    font-size: medium;
    font-family:'Times New Roman', Times, serif sans-serif;
}

body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header img{
    height: 10vh;
}

.text-outline-black {
  -webkit-text-stroke: .3px #000;
}

.bg-custom {
    background-color: #e1f154 !important; /* Para fundo personalizado */
}

.btn.bg-custom:hover, 
a.btn.bg-custom:hover {
  color: #777 !important; /* Ou outra cor escura para contraste */
}

a:hover{
    color: #e1f154 !important;
}


@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left {
    animation: slide-in-left 2s ease;
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-right {
    animation: slide-in-right 2s ease;
}

