@charset "UTF-8";
@import "bootstrap-icons/font/bootstrap-icons.css";


*{
    font-family:'Times New Roman', Times, serif sans-serif;
}

html {
  scroll-behavior: smooth;
}

#nav-links .link-text{
    display: inline-block;
}

#nav-links .link-icon{
    display: none;
}

#profile{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    max-height: 500px;
  z-index: 10;
}

#botao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #e1f154;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

#botao-topo:hover {
  background-color: #c4d52f !important;
  color: #fff !important; 
  box-shadow: 0 0 15px #e1f154;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  background: #000;
}


body{
    min-height: 100vh;
}

.text-outline-black {
  -webkit-text-stroke: .3px #000;
}

.bg-custom {
    background-color: #e1f154 !important;
}

.btn.bg-custom:hover, 
a.btn.bg-custom:hover {
  background-color: #c4d52f !important;
  color: #fff !important; 
  box-shadow: 0 0 15px #e1f154;
  transform: scale(1.05);
  transition: all 0.3s ease;
  
}

a:not(.btn) {
    transition: transform 0.2s;
    display: inline-block;
}

a:not(.btn):hover {
    color: #e1f154 !important;
    transform: translateY(-10px);
}


@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left {
    animation: slide-in-left 1.5s ease;
    margin-top: -15px;
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-right {
    animation: slide-in-right 1.5s ease;
}

.fs-xl {
  font-size: 3.5rem;
}

@media (max-width: 500px) {
    #profile {
        height: 3%;
        position: relative;
        transform: none;
        margin-bottom: 10%;
        display: flex;
    }
    h1, .h1 {
        font-size: 1rem !important;
        margin-top: 1rem !important;
    }
    #p1{
        font-size: .7rem !important;
    }
    #botao-sobre{
        font-size: .6rem !important;
    }
    #link-nav { 
        display: flex;
        text-align: center;
    }
    #icone-home{
        height: 30px !important;
        width: 30px !important;
    }
    #titulo-home{
        display: none !important;
    }
    #inicio .btn{
        position: relative;
        z-index: 20;
    }
    #inicio{
        margin-top: 15% !important;
    }
    #nav-links .link-text {
         display: none;
         flex-wrap: wrap;
         justify-content: space-around;
    }
    #nav-links .link-icon {
         display: inline-block;
         font-size: 2.5rem;
    }
    .nav-link:hover {
        color: #e1f154 !important;
        transform: translateY(-2px);
        transition: all 0.2s ease;
}
}

@media (max-width: 768px) {
    #profile {
        height: 60%;
    }
    h1, .h1 {
        font-size: 2.5rem !important;
        margin-top: 1rem !important;
    }
    #p1{
        font-size: 1rem !important;
    }
    #botao-sobre{
        font-size: 1rem !important;
    }
    #link-nav { 
        display: flex;
        text-align: center;
        font-size: .9rem !important;
    }
    #icone-home{
        height: 40px !important;
        width: 40px !important;
    }
    #titulo-home{
        font-size: 1rem !important;
    }
    #inicio .btn{
        position: relative;
        z-index: 20;
    }
}

@media (max-width: 900px) {
    h1, .h1{
        font-size: 1.8rem !important;
    }
    #p1{
        font-size: 1rem !important;
    }
    #botao-sobre{
        font-size: 1rem !important;
    }
    .nav-link { 
        display: block;
        padding: 0.2rem 0 !important;
        text-align: center;
        font-size: 1rem !important;
        margin-left: 20px;
    }
    #inicio{
        min-width: 90vw !important;
        min-height: 90vh !important;
    }
}
@media (max-width: 1500px) {
    h1, .h1{
        font-size: 2.3rem !important;
    }
    #p1{
        font-size: 1.2rem !important;
    }
    #botao-sobre{
        font-size: 1.2rem !important;
    }
    #profile {
        max-height: 75vh !important;
    }
    .nav-link { 
        display: block;
        padding: 0.2rem 0 !important;
        text-align: center;
        font-size: 1rem !important;
        margin-left: 15px;
    }
    #inicio{
        min-width: 90vw !important;
    }
}