@charset "UTF-8";

*{
    font-size: medium;
    font-family:'Times New Roman', Times, serif sans-serif;
}

html {
  scroll-behavior: smooth;
}

#botao-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #e1f154;
  color: #000;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1000;
}

#botao-topo:hover {
  background-color: #c4d52f;
  color: #fff;
  text-decoration: none;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  background: #000; /* fallback */
}


body{
    min-height: 100vh;
}

.text-outline-black {
  -webkit-text-stroke: .3px #000;
}

.bg-custom {
    background-color: #e1f154 !important; /* Para fundo personalizado */
}

.btn.bg-custom:hover, 
a.btn.bg-custom:hover {
    background-color: #c4d52f !important;
  color: #fff !important; /* Ou outra cor escura para contraste */
  
}

a:not(.btn) {
    transition: transform 0.2s;
    display: inline-block;
}

a:not(.btn):hover {
    color: #e1f154 !important;
    transform: scale(1.2);
}


@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-left {
    animation: slide-in-left 1.5s ease;
    margin-top: -15px;
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(60px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-in-right {
    animation: slide-in-right 1.5s ease;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw; 
    z-index: 1050;
    padding: 4rem 1.5rem 1rem 1rem;
    min-height: 100vh;
    transition: all 0.3s;
  }
}

@media (max-width: 768px) {
    header img{
        height: 40px !important;
        width: 40PX !important;
    }

    h1, .h1 {
        font-size: 1.5rem !important;
        margin-top: 1rem !important;
    }

    .background-animada {
        background-position: center top;
    }

    .col-md-5, .col-md-6 {
        text-align: center !important;
        margin-bottom: 1.5rem;
    }

    .col-md-6 img {
    max-width: 200px !important;
    max-height: 200px !important;
    }

    nav a {
        display: block;
        padding: 0.5rem 0 !important;
        text-align: center;
    }
}